.wrapper-about {
  width: 100%;
  height: calc(100vh - 68px);
  min-height: calc(100vh - 68px);
  position: relative;
  overflow: hidden;
  z-index: 0;

  --main-text-color: rgb(231, 229, 229);
  --stylish-color: rgb(189, 136, 37);
}

.about-utils {
  margin-top: 20px;
  margin-bottom: 0;
}

.video-background-about {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel .slide {
  background: transparent;
}

.slide-about {
  height: calc(100vh - 68px);
  width: 100vw;
  padding: 20px;
}

.row-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100%;
}

/* @media (max-width: 600px) {
  .row-about {
    grid-template-columns: minmax(auto, 1fr);
  }
} */

.column-about {
  text-align: left;
  display: flex;
  align-items: center;
}

/* ================== */

.column2-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg-social-links {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.svg-social-links svg {
  width: 50px;
  height: 50px;
  fill: white;
  width: 50px;
  transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

.svg-social-links a:last-child svg {
  height: 70px;
  width: 60px;
}

.svg-social-links a:hover svg {
  fill: var(--stylish-color);
  transform: translateY(-5px);
}

.email-about a {
  color: var(--main-text-color);
  font-size: 3rem;
  text-align: left;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}
.email-about a:hover {
  color: var(--stylish-color);
}
.email-text-about {
  font-size: 1.5rem;
  margin-left: 5px;
}

.utils-about {
  margin-top: 50px;
}

.article-about header {
  border-bottom: 1px solid rgba(100, 120, 100, 0.2);
  padding-bottom: 20px;
}
.article-about {
  padding: 20px 20px;
  border: 1px solid rgba(100, 120, 100, 0.2);
  box-shadow: 2px 2px 4px rgba(100, 120, 100, 0.3);
  background-color: var(--white);
}

.about-description {
  margin-top: 20px;
  font-size: 1.5rem;

  color: var(--black);
  font-family: var(--poppins);
}

/* .subtitle-about {
  margin-top: 40px;
  margin-bottom: -10px;
  color: var(--primary-color);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--roboto);
} */
