.main.main-page {
  display: flex;
}

.home-products {
  height: calc(100vh - var(--navbar-height));
  overflow-y: scroll;
}

.slide-main-page {
  height: calc(100vh - 68px);
  width: 100vw;
  overflow-y: scroll;
}

.main.main-html {
  background-position: right 100px;
}
