.main.main-page {
  /* display: flex; */
  /* height: 90vh; */
}

.home-products {
  height: calc(100vh - var(--navbar-height));
  /* overflow-y: scroll; */
}

.slide-main-page {
  height: calc(100vh - 68px);
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  justify-content: center;

  /* overflow-y: scroll; */
}

.slide-secondary {
  height: 100vh;
  position: relative;
}

.main-auto-height {
  height: auto;
  overflow-x: hidden;
}

.main-page-products {
  /* height: 100vh; */
  border-top: 1px solid grey;
  padding-top: 40px;
  overflow-y: scroll;
  background: rgb(13, 13, 13);
  background: rgb(58, 57, 55);
  background: linear-gradient(
    180deg,
    rgba(58, 57, 55, 1) 0%,
    rgba(191, 233, 148, 1) 50%,
    rgba(58, 57, 55, 1) 100%
  );
}

.main.main-html {
  background-position: right 100px;
}

.header-main-html {
  /* margin-top: 100px; */
}

.wrapper-footer {
  width: 100%;

  position: relative;
  overflow: hidden;
  z-index: 0;
  /* display: flex; 
  align-items: flex-end; */
  --main-text-color: rgb(231, 229, 229);
  --stylish-color: rgb(189, 136, 37);
}

.footer-sign-buttons {
  justify-self: flex-end;
}
