.order-page {
  --icon-size: 2.5rem;
  margin-bottom: 40px;
}

.order-page-container {
  max-width: 800px;
}

.order-page-title,
.order-page-total {
  font-size: 2.5rem;
  color: var(--black);
}

.order-page-icon {
  font-size: var(--icon-size);
  margin-right: 10px;
}

.order-page-title {
  margin-right: auto;
}

.order-page-total {
}

.order-details {
  margin-top: 40px;
}

.order-form-label {
  font-size: 1.2rem;
  margin: 25px 0 7px;
  display: inline-block;
  font-weight: 500;
}

.select-pay-method {
  display: block;
  width: 100%;
}

.order-form-label {
  background-color: rgb(243, 242, 242);
  padding: 2px 8px;
  color: black;
  border-radius: 5px;
}
.delivery-details,
.delivery-date-time input,
.select-pay-method {
  height: 40px;
  border-radius: 10px;
  border: 2px solid lightgray;
  background-color: white;
  position: relative;
  padding: 0 40px;
}
.delivery-details:focus-within,
.delivery-date-time input:focus,
.select-pay-method:focus {
  border-color: rgb(129, 129, 221);
}

.delivery-details input:focus,
.delivery-date-time input,
.delivery-details select {
  outline: none;
}

.delivery-details input,
.delivery-details select {
  border: none;
  height: 100%;
  font-size: 1.5rem;
  margin: 0 10px;
}

.delivery-details select {
  width: 100%;
}

.select-pay-method {
  background-color: transparent;
}

.expire-cvv {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.delivery-details {
}

/* .delivery-details.mid-size {
  max-width: 400px;
} */

.detail-field-icon {
  position: absolute;
  left: 0;
  font-size: var(--icon-size);
  top: 50%;
  margin-left: 8px;
  transform: translateY(-50%);
}

.cd-number {
  flex-grow: 1;
}

.cd-expire {
  margin-left: auto;
}

.cd-cv {
}

.delivery-details {
  display: flex;
  flex-direction: column;
}

.detail-row {
  display: flex;
  justify-content: stretch;
}

.detail-row > div {
  flex-grow: 1;

  min-width: 250px;
}

.detail-row > div ~ div {
  margin-left: 10px;
}

.delivery-details input {
}

.delivery-date-time {
}

/* .delivery-date-time label {
  display: block;
  text-align: right;
}
*/
.input-detail__date-time {
  padding-right: 0;
}

.date-time-input-wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
  justify-content: space-around;
}

.delivery-date,
.delivery-time {
  background-color: transparent;
  max-width: 200px;
  padding: 0 40px;
  display: flex;
  vertical-align: center;
}

.delivery-date {
  flex-grow: 1;
}

.delivery-date-time input ~ input {
  margin-left: 10px;
}

.pay-submit-wrapper {
  display: flex;
  justify-content: flex-end;
}

.pay-submit {
  margin-top: 40px;
  /* background-color: rgb(106, 202, 106);
  color: white;
  border-color: white; */
  text-transform: capitalize;
  margin-left: auto;
}

@media (max-width: 850px) {
}
@media (max-width: 600px) {
  .detail-row {
    flex-direction: column;
  }

  .detail-row > div ~ div {
    margin-left: 0px;
  }

  .date-time-input-wrapper {
    display: flex;
  }

  .date-time-input-wrapper input {
    flex-grow: 1;
    padding: 0;
  }
}

@media (max-width: 500px) {
}
