.main--products {
  display: block;
  padding: 0 50px;
  font-size: 1.7rem;
  width: 100%;
}

.main--products ul {
  list-style: none;
}

.content {
  display: flex;
  margin-bottom: 100px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--abhaya);
  font-weight: 400;
  align-items: flex-start;
  font-size: 2rem;
  color: var(--white);
}

.rating span {
  display: block;
}

.rating {
  display: flex;
  vertical-align: middle;
}
