.main.main--products {
    display: block;
    padding: 0 50px;
    font-size: 1.7rem;
    
}

.main--products ul {
    list-style: none;
}

main .sort {
    display: flex;
    margin: 50px 0px;
}
main .sort p {
    color: var(--primary-grey);
    min-width: 100px;
}

main .sort ul a {
    color: var(--black);
    margin-right: 20px;
}



main .sort ul {
    display: flex;
    width: 100%;
}

 .content {
    display: flex;
    margin-bottom: 100px;
}


.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--abhaya);
    font-weight: 400;
    align-items: flex-start;
    font-size: 2rem;
    color: var(--white);
}
 











.rating span {
    display: block;
}

.rating {
    display: flex;
    vertical-align: middle;
}

