.product-page {
  padding: 0px 0 50px;
  width: 100%;
  --relative-size: 20vw;
}

.product-page-content {
  display: flex;
}

.product-page-left-block {
  width: 60%;
  margin-right: 40px;
}

.product-title-price {
  display: flex;
  margin-top: 20px;
  /* align-items: center; */
}

.product-page-price {
  font-size: 3rem;
  font-family: var(--poppins);
  font-weight: 400;
}

.title-subtitle h4 {
  font-size: 1.6rem;
  padding: 2px 5px;
  background-color: lightgray;
  align-self: flex-start;
  border-radius: 2px;
}

.product-page-title {
  font-family: var(--poppins);
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--primary-color);
}

.product-page .title-subtitle {
  display: flex;
  flex-direction: column;
}

.product-page-desc-block {
  width: 40%;
  font-family: var(--abhaya);
}

.product-page-desc {
  color: rgba(17, 17, 17);
  font-size: 2rem;
  /* font-weight: 300; */
  font-family: var(--roboto);
  line-height: 1.7;
  margin-top: 30px;
  margin-bottom: 50px;
  /* color: var(--primary-grey); */
}

.product-page-sizes,
.product-page-colors {
  margin-top: 35px;
}

.sub-block-title {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--black);
}

.product-page-colors .sub-block {
}

.product-page-actions {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.product-page-reviews {
  margin-top: 35px;
  padding: 20px;
  border: 1px solid var(--primary-grey);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-more-mobile {
  display: none;
  width: 100%;
}

@media (max-width: 850px) {
  .product-page-left-block {
    width: 55%;
  }

  .product-page-desc-block {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .product-page {
    padding: 20px 0;
  }

  .see-more-desktop {
    display: none;
  }

  .see-more-mobile {
    display: block;
  }

  .product-page-content {
    flex-wrap: wrap;
  }

  .product-page-left-block {
    width: 100%;
    margin-right: 0;
  }

  .product-page-desc-block {
    width: 100%;
  }

  .product-page-price {
    text-align: right;
  }

  .product-page-title {
    /* margin-top: 10px; */
  }

  .product-page-desc {
    color: rgba(17, 17, 17);
    font-size: 1.6rem;

    word-spacing: 3px;
    /* font-weight: 300; */
    font-family: var(--roboto);
    line-height: 1.5;
    font-weight: 400;

    /* color: var(--primary-grey); */
  }

  .product-page-sizes {
    margin-top: 25px;
  }
  .product-page-colors {
    margin-top: 20px;
  }

  .sub-block-title {
    font-size: 2rem;
  }
}

@media (max-width: 850px) {
  .product-page-reviews {
    padding: 15px 7px;
  }
  .author-and-date {
    font-size: 1.5rem;
  }

  .review .author-block time {
    font-size: 1.2rem;
  }

  .review-text {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
}
