.table-row {
  display: grid;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: var(--border-primary);
  padding: 16px 30px;

  margin-top: 30px;

  grid-template-areas: "image title color2 size price quantity total-price remove";
}

.table-data-image {
  grid-area: image;
  /* height: 100%; */
  /* width: 100%; */
}
.table-data-title {
  grid-area: title;
}

.table-data-color {
  grid-area: color2;
}

.table-data-size {
  grid-area: size;
}
.table-data-price {
  grid-area: price;
}
.table-data-quantity {
  grid-area: quantity;
}
.table-data-total-price {
  grid-area: total-price;
}
.table-data-remove {
  grid-area: remove;
}

.table-row-mobile {
  display: flex;
}

.table-row-mobile-block2 {
  display: flex;
}

.data-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.table-data {
  position: relative;
  padding: 0 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-img {
  max-width: 225px;
  width: 100%;
  object-fit: cover;
}

.table-header {
  display: none;
  width: 100%;

  font-family: var(--roboto);
  font-size: 1.3rem;
  color: var(--primary-grey);
  position: absolute;
  top: -40px;
  left: 0;
}

.table-row.first-row .table-header {
  display: block;
}

.title-sm {
  font-family: var(--abhaya);
  color: var(--white);
  font-size: 1.7rem;
}

.desc-sm {
  font-family: var(--roboto);
  font-size: 1.6rem;
  color: var(--primary-grey);
}

.table-price {
  font-size: 2rem;
  color: var(--white);
  min-width: 50px;
  text-align: right;
}

.table-color {
  width: 40px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid grey;
  font-size: 0;
}

.table-size {
  color: var(--white);
  font-size: 2rem;
}

.table-quantity-input {
  height: 40px;
  width: 70px;
  background-color: #3c3c3c;
  border-radius: 5px;
  font-size: 2rem;
  color: var(--white);
  text-align: center;
}

.table-quantity-input {
  width: 63px;
  margin-right: -5px;
}

@media (max-width: 850px) {
  .table-row {
    padding: 7px 15px;

    grid-template-areas:
      "image  title"
      "price  price"
      "color2 color2"
      "size size"
      "quantity  quantity"
      "total-price total-price"
      "remove .";

    grid-template-areas:
      "image image title  title"
      "image image price  price"
      "image image color2 color2"
      "image image size size"
      "image image quantity  quantity"
      "image image total-price total-price"
      "image image remove .";
  }

  .table-header {
    display: block;
    top: 0;
    left: 0px;
    text-align: left;
  }

  .table-data.table-data-title {
    margin: 10px 0;
    justify-content: center;
  }
  .table-row .table-data-title .table-header {
    display: none;
  }

  .table-data {
    /* text-align: left; */
    margin-bottom: 5px;
    justify-content: flex-end;
    padding: 0;
  }

  .table-data-image {
    justify-content: flex-start;
  }

  .table-data-remove {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .table-row {
    padding: 15px 15px;
    grid-template-areas:
      "image  title"
      "price  price"
      "color2 color2"
      "size size"
      "quantity  quantity"
      "total-price total-price"
      "remove .";
  }
  .table-header {
    display: block;
    top: 0;
    left: 0px;
    text-align: left;
  }

  .table-row .table-data-title .table-header {
    display: none;
  }

  .table-data {
    /* text-align: left; */
    margin-bottom: 5px;
    justify-content: flex-end;
    padding: 0;
  }

  .table-img {
    max-width: 120px;
    min-height: 90px;
    max-height: 120px;
  }

  .table-data-image {
    justify-content: flex-start;
  }

  .table-data-remove {
    justify-content: center;
  }

  /* .table-row {
  }

  


  .table-row-mobile {
    display: flex;
    flex-direction: column;
  }
  .table-row-mobile-block1 {
    display: flex;
  }

  .table-row-mobile-block2 {
    display: flex;
    flex-direction: column;
  } */
}
