.sizes-subblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sizes-title {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--black);
}

.sizes-guide {
  font-size: 2rem;
  color: var(--primary-grey);
  text-transform: capitalize;
}

.sizes-self {
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out, border-width 0.2s ease-out;
}

.sizes-self.sizes-error {
  animation: color-error 1.5s linear 3;
}

@keyframes sizes-error {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }

  100% {
    border-color: transparent;
  }
}

.sizes-self {
  width: 100%;
}

.sizes-self .row {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
}
@media (max-width: 600px) {
  .sizes-title {
    font-size: 2rem;
  }
}
