.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
  padding-top: 1px;
}

/* There is other styles related to Footer. Just be mind */

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}
