.description-p {
  font-family: var(--roboto);
  color: var(--primary-grey);
  font-size: 2rem;
}

@media (max-width: 850px) {
  .description-p {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .description-p {
    font-size: 1.6rem;
  }
}
