.filter-items {
  flex-shrink: 0;
  width: 190px;

  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
  padding: 10px 15px 20px 0;
}

.filter-items a {
  color: var(--primary-color);
  margin: 8px 0;
}

.filter {
  padding: 20px 0;
}

.filters-items section:not(:last-child) {
  border-bottom: 1px var(--primary-color) solid;
}
