.footer {
    min-height: 345px;
    background: linear-gradient(36deg, #070707, var(--primary-color) 60%);
    font-family: 'Merriweather', serif;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer-content {
    display: flex;
}

.footer-content .column:first-child {
    margin-right: 70px;
}








.column:last-child {
    display: flex;
    align-self: flex-start;
    margin: 0 0 0 auto;
}

.column:last-child a:not(:last-child) {
    margin-right: 15px;

}

.socials a {
    align-items: center;
    display: flex;
}

/* .footer .socials a:hover {
    
    background-color: blue;
} */



.socials svg {
    fill: white;
    transition: fill 0.2s ease-out;
}

.socials a:hover svg, .social a:focus svg{
    fill: blue;
}



.footer-author {
    height: 62px;
    position: relative;
    color: white;
}



.author-location, .footer .author {
    display: flex;
    align-items: center;
}

.footer .author {
    justify-content: center;
    color: #c4c4c4;
    font-size: 1.2rem;
    font-family: var(--roboto);
}

.footer .author-location {
    font-size: 1.2rem;
    font-family: var(--roboto);
}


.footer .author-location img, .footer .author img {
    margin-right: 10px;
}

.footer-author::after {
    content: "";
    width: 95%;
    margin: 0 auto;
    display: block;
    top: 0;
    height: 0;
    position: absolute;
    border-top: 1px #EAE2E2 solid;
    left: 50%;
    transform: translateX(-50%);
}



.footer-container > *,  .footer-container::after {
    flex: 1 1 33%;
}
.footer-container::after {
    content: "";
    display: block;
}