.job-block {
  margin: 30px 0;
  box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.4),
    -5px -5px 10px rgba(100, 100, 100, 0.4);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 15px;
  background-color: var(--white);
  border-radius: 5px;
  position: relative;
}

.job-column {
  padding: 25px;
}

.job-column1 {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.job-title {
  font-weight: 400;
  font-family: var(--roboto);
  font-size: 3.5rem;
  line-height: 1.1;
}

.job-desc {
  font-size: 1.5rem;
  font-family: var(--poppins);
  color: var(--primary-grey);
  margin-top: 16px;
}

.job-icons {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  margin-top: 20px;
}

.job-apply {
  margin-top: 20px;
}

.job-column2 {
}

.job-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apply-block {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 25px;
  border-radius: 10px;
}

.apply-block-close {
}

.apply-close {
  margin: 0 0 0 auto;
  display: block;
}

.apply-block label {
  margin: 20px 0 5px;
  font-size: 1.5rem;
  display: block;
}

.apply-block input {
  display: block;
  height: 40px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 3px;
  border-width: 1px;
}

.apply-block input[type="file"] {
  padding-left: 0;
}

.job-submit-btn.btn {
  max-width: 400px;
}

@media (max-width: 700px) {
  .job-column1 {
    max-width: none;
  }
}
@media (max-width: 600px) {
  .job-block {
    padding: 0;
  }

  .job-column {
    padding: 25px 20px;
  }

  .job-title {
    font-size: 2.5rem;
  }

  .job-image {
    border-radius: 3px;
  }

  .job-column2 {
    padding-top: 0;
  }
}
