.main {
  min-height: calc(100vh - 68px);

  position: relative;
  overflow-x: hidden;
  background: url(../assets/background-vector.png) right 100px no-repeat;
  /* url(../assets/bg-secondary.png) 0% 110% no-repeat; */
  /* background-position: right bottom;
    background-repeat: no-repeat; */
}
