nav {
    height: 68px;
    background-color: var(--primary-color);
    display: flex;
}


/* products page mod of nav */
.nav--products {
    height: auto;
}


.nav--products .middle ul {
    justify-content: center;
    width: 100%;
    align-items: center;
}


.search.search--products {
    
    height: 76px;
    border-radius: 55px;
    padding: 0 20px 0 41px;
    margin:0 20px 12px;
    flex:1 1 734px;
}

.mainpage-search.mainpage-search--products {
    flex-grow: 1;
}

.search-icon--products {
    width: 36px;
}

/* .nav--products .right {
    margin-top: 10px;
}
    .nav--products .container {
        align-items: start;
}
 */


/*  */

nav .container {
    display: flex;
    justify-content: space-between;
    align-self:stretch;
    align-items: center;
}

nav .middle {
    display: flex;
    flex-wrap: wrap;
}

nav .middle ul {
    display: flex;
    color: #fff;
    font-family: var(--poppins);
    font-size: 2.2rem;
    list-style: none;
    text-align: center;
    align-items: center;
}

.middle li {
    margin: 10px;
}




nav .right {
    display: flex;
    align-items: center;
}


nav .search {
    width: 207px;
    height: 38px;
    background-color: #242423;
    margin-right: 25px;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13px;

}

nav .mainpage-search {
    width: 150px;
    height: 100%;
    font-size: 22px;
    font-family: var(--poppins);
    border: none;
    background: none;
    caret-color: white;
    color: white;
    font-weight: 200;
}

nav .mainpage-search:focus {
    outline: none;
}

.right .mainpage-search::placeholder {
    color: #3e3d3b;
}

nav .right .profile {
    
    margin-right: 31px;
}
