nav {
  height: var(--navbar-height);
  background-color: var(--primary-color);
  display: flex;
  position: relative;
  z-index: 3;
  --navbar-rem: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.top-nav {
}

.navbar-site-icon {
  height: calc(var(--navbar-height) * 0.8);
}

.nav--products {
  height: auto;
}

.nav--products .middle ul {
  justify-content: center;
  width: 100%;
  align-items: center;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

nav .middle {
  display: flex;
  flex-wrap: wrap;
}

nav .middle ul {
  display: flex;
  color: #fff;
  font-family: var(--poppins);
  font-size: 2.2rem;
  list-style: none;
  text-align: center;
  align-items: center;
}

.middle li {
  margin: 10px;
}

.middle a {
  color: inherit;
  text-decoration: none;
}

.middle a.active {
  text-decoration: underline;
}

nav .right {
  display: flex;
  align-items: center;
}

nav .right .profile {
  margin-right: 31px;
}

nav .burger {
  display: none;
  width: calc(var(--navbar-height) * 0.5);

  background-color: transparent;
  border: none;
  height: calc(var(--navbar-height) * 0.4);
  position: relative;
  margin-left: 15px;
}

.burger-line {
  font-size: 0;
  color: transparent;

  display: block;
}

.burger-line::after,
.burger-line::before {
  content: "";
  position: absolute;
}

.burger-line,
.burger-line::after,
.burger-line::before {
  width: 100%;
  height: 2px;
  background-color: white;
  display: block;
}

.burger-line::before {
  top: 0;
}
.burger-line::after {
  bottom: 0;
}

.nav-sidebar-wrapper {
  display: none;
  position: fixed;
  transform: translateX(100%);
  right: 0;
  width: 100%;

  transition: transform 0.3s ease-in-out 0.2s, background-color 0.2s ease-out;

  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
  z-index: 100;
}

.nav-sidebar-wrapper.active {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-out 0.3s;
}
.nav-sidebar {
  background-color: var(--primary-color);
  width: 80%;
  max-width: 350px;
  position: absolute;
  z-index: 100;
  right: 0;
  height: 100%;
  padding: 30px;
}

.nav-search-mobile {
  display: none;
}

@media (max-width: 600px) {
  nav {
    --navbar-height: 50px;
  }

  .nav-search {
    display: none;
  }
  .nav-search-mobile {
    display: block;
    margin-right: 0px;
  }
  nav .right .profile {
    margin: 0 7px 0 8px;
  }
}

@media (max-width: 850px) {
  nav .middle,
  nav .right .signin-signup-buttons {
    display: none;
  }
  .nav-sidebar-wrapper {
    display: block;
  }

  .nav-sidebar .signin-signup {
  }

  nav .burger {
    display: block;
  }
}
