nav {
  height: 68px;
  background-color: var(--primary-color);
  display: flex;
}
.top-nav {
}

/* products page mod of nav */
.nav--products {
  height: auto;
}

.nav--products .middle ul {
  justify-content: center;
  width: 100%;
  align-items: center;
}

/* .nav--products .right {
    margin-top: 10px;
}
    .nav--products .container {
        align-items: start;
}
 */

/*  */

nav .container {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

nav .middle {
  display: flex;
  flex-wrap: wrap;
}

nav .middle ul {
  display: flex;
  color: #fff;
  font-family: var(--poppins);
  font-size: 2.2rem;
  list-style: none;
  text-align: center;
  align-items: center;
}

.middle li {
  margin: 10px;
}

.middle a {
  color: inherit;
  text-decoration: none;
}

.middle a.active {
  text-decoration: underline;
}

nav .right {
  display: flex;
  align-items: center;
}

nav .right .profile {
  margin-right: 31px;
}
