.choose-gender {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.choose-gender input {
    opacity: 0;
    width: 0;
    margin: 0;
    position: absolute;

}

.choose-gender label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 153px;
    height: 40px;
    color: var(--primary-grey);
    vertical-align: middle;
}

.choose-gender input:focus + label, .choose-gender input:checked + label {
    border-color: black;
    color: black;
}