.see-more::after {
  content: "";
  width: 70vw;
  margin-top: 20px;
  position: absolute;
  height: 20vh;
  bottom: 0;
  /* background-color: rgba(196, 196, 196, 0.5); */
  z-index: -2;
  filter: blur(4px);
}

.see-more::before {
  content: "";
  height: 20vh;
  position: absolute;
  width: 60vw;
  /* background-image: url(../assets/bg-secondary.png); */
  background-position: 0px 50px;
  background-repeat: no-repeat;
  bottom: 0;
  z-index: -1;
  left: 0;
}

.see-more {
  margin-top: 20px;
}

.choose-category {
  width: 100%;
  height: 20vh;
  display: flex;
  padding-right: 0px;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  color: rgba(0, 0, 0, 0);
  position: relative;
  max-height: 120px;
  max-width: 120px;
  width: 20vw;
  height: 20vw;
  font-size: 0;
}

.arrow a {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 5;
}

.arrow::after {
  position: absolute;
  max-height: 70px;
  max-width: 70px;
  width: 10vw;
  height: 10vw;
  content: "";
  border-right: 3px white solid;
  border-bottom: 3px white solid;
  right: 0;
  transform-origin: right center;
  transition: transform, background-color, 1s ease-out;
  transform: rotateZ(-45deg) translate(-50%, -50%);
}

.arrow::before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 6;
  max-width: 55px;
  max-height: 55px;
  width: 7vw;
  height: 7vh;
  transform: rotateZ(224deg) translateX(-54px) translateY(43px);
  transform-origin: bottom left;
  transition: box-shadow 0.2s ease-out;
}

@media (max-width: 600px) {
  .arrow::before {
    display: none;
    transform: rotateZ(224deg) translateX(-31px) translateY(45px);
  }
  .arrow:hover::after {
    content: ">";
    transform: rotateZ(-45deg) translate(-50%, -50%) scale(1.1);
    background-color: grey;
  }
}

.arrow:hover::before {
  position: absolute;
  z-index: 6;

  box-shadow: -3px 3px 0px rgba(255, 255, 255, 0.6);

  transform: rotateZ(224deg) translateX(-54px) translateY(43px);
  transform-origin: bottom left;
}
