.sizes-self .size {
    border: 2px solid var(--primary-grey);
    border-radius: 20%;
    font-size: 1.8rem;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8%;
    max-width: 70px;
    transition: border-color 0.2s ease-in-out, border-width 0.2s ease-out;
  }

  .size.size-active {
      background-color: rgb(226, 226, 226);
  }
  
  .sizes-self .size:hover {
   /* background-color: rgba(141, 141, 141, 0.85)
    */
    border-color: rgba(40, 40, 140, 0.80);
  }
  
  .sizes-self span {
    position: absolute;
  }
  