.sort-block {
  display: flex;
}
.sort-block p {
  color: var(--primary-grey);
  min-width: 100px;
}

.sort-item {
  color: var(--black);
  margin-right: 5px;
}

.sort-item button {
  padding: 2px 4px;
}

.asc-desc {
  position: relative;
  height: 0;
  width: 0;
  margin-right: 3px;
}

.active-asc {
  border-style: solid;
  bottom: 12px;

  border-width: 0 7.5px 8px 7.5px;
  border-color: transparent transparent #007bff transparent;
}

.active-desc {
  top: 12px;

  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #007bff transparent transparent transparent;
}

.sort-item.active {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5), -3px -3px 4px rgba(0, 0, 0, 0.5);
}

.sort-items {
  display: flex;
  width: 100%;
}

@media (max-width: 600px) {
  .sort-block p {
    min-width: 70px;
  }
  .sort-block {
    width: 100%;
  }

  .sort-item button {
    background: none;
    font-size: 2rem;
    color: var(--black);
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 1.7rem;
    /* border-radius: 3px; */
  }

  .sort-item.active {
    background-color: var(--primary-grey);
  }

  .active-asc {
    bottom: 3px;
  }

  .active-desc {
    top: 3px;
  }
}

@media (max-width: 850px) {
}
@media (max-width: 600px) {
  .sort-items {
    overflow: scroll;
  }
}
